
.sticky{
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar{

    .navbar-brand:hover{
        color: $color-hover;
        @include trans
    }
    .btn-add-cart
    {
        @include btnStyle($color-primary,$fs-add);
        &:hover{
            color:$color-hover;
          }
    }
   
}
