.list {
  .list-card {
    overflow: hidden;
    background: $color-primary;
    &:hover .list-img {
      transform: scale(1.1);
      @include trans;
    }
    // &:hover .list-info .desc {
    //   display: block;
    //   @include trans;
    // }
    .list-info {
      div {
        padding: 4px 0;
      }
      .name a {
        @include txtStyle($fs-1, $fw-1, $color-dark);
      }
      .price {
        span {
          @include txtStyle($fs-2, $fw-1, $color-dark);
        }
        .discount {
          @include txtStyle($fs-1, $fw-1, $color-dis);
          background: rgba($color: #dc0808, $alpha: 0.2);
          padding: 4px;
        }
      }
      .desc {
        @include txtStyle($fs-1, $fw-1, $color-dark);
        // display: none;
      }
      .btn-add-cart {
        @include btnStyle($color-dark, $fs-add);
        @include trans;
        top: 6px;
        &:hover {
          color: $color-hover;
        }
      }
      .amount-product{
        display: none;
        top: 6px;
        right: -13px;
        & button,span{
          font-size: $fs-1;
          font-weight: $fw-1;
        }
      }
    }
    .list-img {
      @include trans;
    }
  }
}
