@mixin trans {
    transition: all 0.3s;
}
@mixin txtStyle($fs,$fw,$color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin btnStyle($color,$fs){
    top: 0;
    right: 0;
    color: $color;
    font-size: $fs;
    //repalce bs5
    border: none;
    background: none;
}