*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    a,p,span{
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    li{
        list-style: none;
    }
}
.container-m{
    max-width: 1280px;
    margin: auto;
   
}
.bg-radien {
    background: linear-gradient(
      330deg,
      #e5da18 0%,
      #6a54cc 25%,
      #9e297f 50%,
      #7809e8 75%,
      #e11313 100%
    );
  }